[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
langgraph = "*"
langchain = "*"
python-dotenv = "*"
openai = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
all= "uvicorn amin:app --reload && npm run dev "
